{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}Log In
{% endblock %}

{% block central %}
<div class="identification">
		<h1 class="h3 mb-3 mt-2 text-center">Identification</h1>

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="form-group row">
			<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-6">
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-6">
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button class="btn btn-lg btn-primary" type="submit">
			S'identifier
		</button>
	</form>
</div>

{% endblock %}
