 {% extends "base.html.twig" %}

{% block title %}Home |
{{ parent() }} 
{% endblock %}

 {% block central %}
 <h1>Gestion wish</h1>

<a href="{{ path('wish_add') }}">Add wish</a>

<table class="table">

  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
      {% for w in wishes %}
  <tbody>
    <tr>
      <th scope="row">{{ w.id}}</th>
      <td><a href="{{ path('list_detail', {id :w.id}) }}">{{ w.title }}</a></td>
      <td>{{ w.dateCreated|date("m/d/Y H:i:s") }}</td>
      <td><a href="{{ path('modifier_wish',{ id:w.id }) }}">Modifier</a></td>
      <td><a href="{{ path('supprimer_wish',{ id:w.id }) }}">Supprimer</a></td>

    </tr>
    <tr>
  </tbody>
  {% endfor %}
</table>

 {% endblock %}