{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des utilisateurs{% endblock %}

{% block central %}
    <h1>Liste des utilisateurs</h1>

    <table class="table table-striped">
        <thead>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Rôles</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for user in users %}
                <tr>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {# On boucle sur les rôles #}
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
{#                             {% elseif role == "ROLE_EDITOR" %}
                                Editeur #}
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}" class="btn btn-outline-warning">
                        <i class="fas fa-edit"></i></a>
                        <a onclick="return confirm('Supprimer : {{ user.nom }} {{ user.prenom }}?')" href="{{ path('admin_supprimer_utilisateur',{ id:user.id }) }}" class="btn btn-danger">
                        <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
