 {% extends "base.html.twig" %}

{% block title %}Home |
{{ parent() }} 
{% endblock %}

 {% block central %}
 <h1>Liste</h1>

<a href="{{ path('ajouter') }}">Ajouter wish</a>
<a href="{{ path('wish_add') }}">Add wish</a>

<table class="table">

  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
      {% for w in wishes %}
  <tbody>
    <tr>
      <th scope="row">{{ w.id}}</th>
      <td><a href="{{ path('list_detail', {id :w.id}) }}">{{ w.title }}</a></td>
      <td>{{ w.dateCreated|date("m/d/Y H:i:s") }}</td>
    </tr>
    <tr>
  </tbody>
  {% endfor %}
</table>

{# <a href="{{ path('list_detail', {id :w.id}) }}">Détail d’un wish</a> #}

 {% endblock %}